<%- include('./partials/header'); %>

<div class="container mt-4">

  <div class="row">
    <div class="col-md-9">
      <h1><%= title %></h1>
    </div>
    <div class="col-md-3">
      <button type="button" data-bs-toggle="modal" data-bs-target="#addBook" class="btn btn-primary">Ajouter un
        livre</button>
    </div>
  </div>

  <div class="">
    <div class="row">
      <% books.forEach(function(book) { %>
      <div class="col-md-4">
        <div class="list-group">

          <a href="/books/<%= book.id %>/details" class="list-group-item list-group-item-action">
            <%= book.title %>
            par <strong><%= book.author %></strong>
          </a>
        </div>
      </div>
      <% }); %>
    </div>

  </div>

</div>

<div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="addBookLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBookLabel">Ajouter un livre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/books" method="post">
          <div class="mb-3">
            <label for="title" class="form-label">Titre du livre</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Titre du livre" required>
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Auteur</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="James" required>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Résume</label>
            <textarea class="form-control" id="resume" rows="3" name="resume" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer'); %>