<%- include("./partials/header.ejs") %>

<div class="container pt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1>Modifier le livre: <%= title %></h1>
          <form action="/books/<%= book.id %>/update" method="post">
            <div class="mb-3">
              <label for="title" class="form-label">Titre</label>
              <input type="text" class="form-control" id="title" placeholder="Titre du livre" name="title" required
                value="<%= title %>">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Auteur</label>
              <input type="text" class="form-control" id="author" placeholder="Auteur du livre" name="author" required
                value="<%= book.author %>">
            </div>
            <div class="mb-3">
              <label for="resume" class="form-label">Résumé du livre</label>
              <textarea class="form-control" id="resume" rows="3" name="resume" required>
                <%= book.resume %>
              </textarea>
            </div>
            <button type="submit" class="btn btn-success">Valider</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>